<% for(var i=0; i<quests.length;i++) {%>
<div class="card col-3 m-1">
    <div class="card-body">
        <div class="card-title"><%=quests[i].title %> </div>
        <div class="description"> <%=quests[i].description %> </div>
        <div class="bt-group card-footer    ">
            <button class="change-item btn btn-sm btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#editItem"
                    data-itemId="<%=quests[i]._id %>">
                Изменить
            </button>
            <button class="delete-item btn btn-sm btn-dark" data-itemId="<%=quests[i]._id %>"> Удалить </button>
        </div>
    </div>
</div>
<%} %>